/*
Syntax error: Undefined variable: "$red".
        on line 2 of /Users/tomnightingale/workspace/sandbox/ruby/pollster/app/stylesheets/mobile.scss

1: /Users/tomnightingale/workspace/sandbox/ruby/pollster/app/stylesheets/mobile.scss

Backtrace:
/Users/tomnightingale/workspace/sandbox/ruby/pollster/app/stylesheets/mobile.scss:2
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/script/variable.rb:39:in `_perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/script/node.rb:61:in `perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/prop_node.rb:132:in `perform!'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `map'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:317:in `perform!'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/rule_node.rb:191:in `perform!'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `block in perform_children'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `map'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:326:in `perform_children'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:317:in `perform!'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/root_node.rb:59:in `perform!'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:305:in `_perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/node.rb:213:in `perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/root_node.rb:37:in `perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/tree/root_node.rb:29:in `render'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/engine.rb:196:in `_render'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/engine.rb:168:in `block in render'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/haml/util.rb:289:in `silence_haml_warnings'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/lib/sass/engine.rb:168:in `render'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/compiler.rb:103:in `block in compile'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/logger.rb:43:in `red'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/compiler.rb:102:in `compile'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/compiler.rb:93:in `compile_if_required'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/compiler.rb:84:in `block in run'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/compiler.rb:82:in `each'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/compiler.rb:82:in `run'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/commands/watch_project.rb:92:in `recompile'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/path.rb:71:in `call'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/path.rb:71:in `run_callback'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/path.rb:54:in `callback_action'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/path.rb:34:in `update'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/state/directory.rb:32:in `block in modified'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/state/directory.rb:31:in `each'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/state/directory.rb:31:in `modified'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/state/directory.rb:16:in `refresh'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/backends/polling.rb:17:in `each'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/backends/polling.rb:17:in `block in run'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/backends/polling.rb:15:in `loop'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/backends/polling.rb:15:in `run'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm/monitor.rb:24:in `run'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.21/vendor/fssm/lib/fssm.rb:17:in `monitor'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/commands/watch_project.rb:61:in `perform'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/commands/base.rb:18:in `execute'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/commands/project_base.rb:19:in `execute'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/exec/sub_command_ui.rb:38:in `perform!'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.5/bin/compass:26:in `<top (required)>'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/bin/compass:19:in `load'
/Users/tomnightingale/.rvm/gems/ruby-1.9.2-p0/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$red\".\A         on line 2 of /Users/tomnightingale/workspace/sandbox/ruby/pollster/app/stylesheets/mobile.scss\A \A 1: /Users/tomnightingale/workspace/sandbox/ruby/pollster/app/stylesheets/mobile.scss"; }
