/* line 19, ../../../app/stylesheets/styles.scss */
#container {
  background-color: white;
}
/* line 23, ../../../app/stylesheets/styles.scss */
#container #content {
  min-height: 35em;
  height: auto !important;
  height: 35em;
}
/* line 27, ../../../app/stylesheets/styles.scss */
#container #content-ped {
  background-color: #dddddd;
}

/* line 32, ../../../app/stylesheets/styles.scss */
#header {
  margin-top: 1em;
  margin-bottom: 2em;
}

/* line 38, ../../../app/stylesheets/styles.scss */
#site-title h1 {
  display: inline;
  float: left;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #site-title h1 {
  overflow-x: hidden;
}
/* line 43, ../../../app/stylesheets/styles.scss */
#site-title #user-nav {
  display: inline;
  float: right;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-right: 0;
  text-align: right;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #site-title #user-nav {
  overflow-x: hidden;
}

/* line 51, ../../../app/stylesheets/styles.scss */
#main-nav {
  overflow: hidden;
  *zoom: 1;
  clear: both;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
}
/* line 58, ../../../app/stylesheets/styles.scss */
#main-nav ul {
  margin-bottom: 0;
  list-style-type: none;
}
/* line 5, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/lists/_inline-list.scss */
#main-nav ul, #main-nav ul li {
  margin: 0px;
  padding: 0px;
  display: inline;
}
/* line 63, ../../../app/stylesheets/styles.scss */
#main-nav .links li {
  font-size: 1.4em;
  line-height: 2em;
  margin: 0 10px;
}
/* line 69, ../../../app/stylesheets/styles.scss */
#main-nav a {
  text-decoration: none;
}
/* line 4, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/compass/stylesheets/compass/utilities/links/_hover-link.scss */
#main-nav a:hover {
  text-decoration: underline;
}

/* line 74, ../../../app/stylesheets/styles.scss */
.button-create {
  /* "New ____" links should look nice */
}

/* line 78, ../../../app/stylesheets/styles.scss */
body.bp table.listing-table {
  padding-left: 80px;
  padding-right: 80px;
}
/* line 82, ../../../app/stylesheets/styles.scss */
body.bp table.listing-table th, body.bp table.listing-table td {
  padding-left: 0;
  padding-right: 0;
}
/* line 87, ../../../app/stylesheets/styles.scss */
body.bp table.listing-table th.last, body.bp table.listing-table td.last {
  margin-right: 0;
}
/* line 91, ../../../app/stylesheets/styles.scss */
body.bp table.listing-table .tblcol-name {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 550px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp table.listing-table .tblcol-name {
  overflow-x: hidden;
}
/* line 95, ../../../app/stylesheets/styles.scss */
body.bp table.listing-table .tblcol-link {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 70px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp table.listing-table .tblcol-link {
  overflow-x: hidden;
}

/* line 100, ../../../app/stylesheets/styles.scss */
#footer {
  background: #dddddd;
  border-top: solid 2px #bcbcbc;
  margin-top: 3em;
  padding: 2em 0;
}
/* line 106, ../../../app/stylesheets/styles.scss */
#footer span {
  padding-right: 40px;
  padding-left: 40px;
}
/* line 111, ../../../app/stylesheets/styles.scss */
#footer .first-col {
  display: inline;
  float: right;
  position: relative;
  margin: 0 -40px 1.5em 40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer .first-col {
  overflow-x: hidden;
}
/* line 116, ../../../app/stylesheets/styles.scss */
#footer .second-col {
  display: inline;
  float: left;
  position: relative;
  margin-left: -40px;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
  margin-right: 0;
  text-align: right;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #footer .second-col {
  overflow-x: hidden;
}

/* line 124, ../../../app/stylesheets/styles.scss */
#question-listing {
  overflow: auto;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 870px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #question-listing {
  overflow-x: hidden;
}

/* line 131, ../../../app/stylesheets/styles.scss */
body.bp table.question-index,
body.bp table.question-index thead,
body.bp table.question-index tbody {
  display: inline;
  float: left;
  display: inline;
  float: left;
  margin-right: 10px;
  width: 430px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body.bp table.question-index, * html
body.bp table.question-index thead, * html
body.bp table.question-index tbody {
  overflow-x: hidden;
}

/* line 137, ../../../app/stylesheets/styles.scss */
td, th {
  min-height: 2em;
  height: auto !important;
  height: 2em;
}

/* line 143, ../../../app/stylesheets/styles.scss */
#all-questions,
#all-questions thead,
#all-questions tbody {
  margin-right: 0;
}

/* line 147, ../../../app/stylesheets/styles.scss */
.question {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 350px;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .question {
  overflow-x: hidden;
}

/* line 152, ../../../app/stylesheets/styles.scss */
.question-add,
.question-remove {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 30px;
  margin-right: 0;
}
/* line 139, ../../../../../.rvm/gems/ruby-1.9.2-p0/gems/compass-0.10.6/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .question-add, * html
.question-remove {
  overflow-x: hidden;
}

/* line 158, ../../../app/stylesheets/styles.scss */
.question,
.action-col {
  margin-right: 0;
}

/* line 163, ../../../app/stylesheets/styles.scss */
#active_poll_id,
#active_question_id {
  display: none;
}

/* line 167, ../../../app/stylesheets/styles.scss */
p#notice {
  color: green;
  font-family: monospace;
  font-size: 1.4em;
}
