@import "blueprint/grid";

@import "partials/color";

@import "compass/utilities/general/clearfix";
@import "compass/utilities/general/min";

@import "compass/utilities/lists/inline-list";

@import "compass/utilities/links/hover-link";
@import "compass/utilities/links/link-colors";
@import "blueprint/debug";


body {

}

#container {
  //@include showgrid();
  background-color: white;
  
  #content {
    @include min-height(35em);
  }
  
  #content-ped {
    background-color: $bg-color;
  }
}

#header {
  @include prepend-top(1em);
  @include append-bottom(2em);
}

#site-title {
  h1 {
    @include float-left;
    @include column(12);
  }
  
  #user-nav {
    @include float-right;
    @include column(12);
    @include last;
    text-align: right;
  }
}

#main-nav {
  @include clearfix;
  clear: both;

  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;

  ul {
    margin-bottom: 0;
    @include inline-list;
  }
  
  .links li {
    font-size: 1.4em;
    line-height: 2em;
    margin: 0 10px;
  }
  
  a {
    @include hover-link;
  }
}

.button-create {
  /* "New ____" links should look nice */
}

body.bp table.listing-table {
  @include prepend(2);
  @include append(2);
  
  th, td {
    padding-left: 0;
    padding-right: 0;
  }
  
  th.last, td.last {
    @include last;
  }
  
  .tblcol-name {
    @include column(14);
  }
  
  .tblcol-link {
    @include column(2);
  }
}

#footer {
  background: $bg-color;
  border-top: solid 2px $footer-bg-color;
  margin-top: 3em;
  padding: 2em 0;
  
  span {
    @include append(1);
    @include prepend(1);
  }
  
  .first-col {
    @include push(1);
    @include column(11);
  }
  
  .second-col {
    @include pull(1);
    @include column(11);
    @include last;
    text-align: right;
  }
}

#question-listing {
  overflow: auto;
  @include column(22);
}

body.bp table.question-index,
body.bp table.question-index thead,
body.bp table.question-index tbody {
  @include float-left;
  @include column(11)
  

}
td, th {
  @include min-height(2em);
}

#all-questions,
#all-questions thead,
#all-questions tbody {
  @include last;
}

.question {
  @include column(9);
}

.question-add,
.question-remove {
  @include column(1);
  @include last;
}

.question,
.action-col {
  margin-right: 0;
}

#active_poll_id {
  display: none;
}

p#notice {
	color: green;
	font-family: monospace;
	font-size: 1.4em;
}