<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @answer.body %>
  <% if @answer.correct %>
    <span class="correct"> (correct answer) </span>
  <% end %>
</p>

<p>
  <b>Question:</b>
  <%= @answer.question.body %>
</p>


<%= link_to 'Edit', edit_answer_path %>
