<div id="submit_message">
  <h2>Thanks, your answer has been submitted!</h2>
  <p>To go back and change your submission, push the back button above.</p>
  <p>This page will update as soon as the next question is posted.</p>
</div>