<% content_for :title do %>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div id="question">
  <h2><%= @active_poll.question.body %></h2>
</div>
<div id="answers">
  <ol>
    <% @active_poll.question.answers.each do |a| %>
      <li class="arrow"><%= link_to a.body, submit_active_poll_path({:answer => a}) %></li>
    <% end %>
  </ol>
</div>