<% content_for :title do %>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<%= render :partial => "clicker_submit_message" %>

<div id="next-question">
  <%= link_to "Click here", clicker_path(@active_poll.token)%> <span>to change your answer or reload the question.</span>
</div>
