<% content_for :title do %>
  <%= @active_poll.poll.title %>
<% end %>

<% content_for :notice do %>
  <%= notice %>
<% end %>

<div id="question">
  <h2><%= @active_poll.question.body %></h2>
</div>
<div id="answers">
  <ul>
    <% @active_poll.question.answers.each do |a| %>
      <li class="arrow"><a><%= a.body %></a></li>
    <% end %>
  </ul>
</div>