<h1>Listing reports</h1>

<table>
  <tr>
    <th>Poll Name</th>
    <th>Number of questions</th>
    <th>Number of Participants</th>
    <th>Average Score</th>
    <th></th>
    <th></th>
  </tr>

<% @reports.each do |report| %>
  <tr>
    <td><%= report.poll.title %></td>
    <td><%= report.poll.questions.count %></td>
    <td>to be implemented</td>
    <td>to be implemented</td>
   
    <td><%= link_to 'Show', report %></td>
    <td><%= link_to 'Destroy', report, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

